<!-- include header -->
<%- include('include/_header')%>

<!-- Main Site -->
<main id="site-man">
    <div class="container">
        <div class="box-nav d-flex justify-between">
            <div class="filter">
                <a href="/"><i class="fas fa-angle-double-left"></i>All Users</a> <i class="fas fa-users"></i>
            </div>
        </div>

        <div class="form-title text-center">
            <h2 class="text-dark">New User <i class="fa-solid fa-user-plus"></i></h2>
            <span class="text-light">Use Below Form To Create New Account</span>
        </div>


        <%- include('include/_form')%>
        
    </div>
 </main>

<!-- Main Site -->

<!-- include footer -->
<%- include('include/_footer')%>